
## <summary>policy for usbUser</summary>
########################################
## <summary>
##	Change to the usbUser role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`usbUser_role_change',`
	gen_require(`
		role usbUser_r;
	')

	allow $1 usbUser_r;
')
