policy_module(NCSISTuser, 1.0.0)

########################################
#
# Declarations
#

userdom_restricted_xwindows_user_template(NCSISTuser)

########################################
#
# NCSISTuser local policy
#

domain_use_interactive_fds(NCSISTuser_t)

files_read_etc_files(NCSISTuser_t)

miscfiles_read_localization(NCSISTuser_t)
